body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.mdl-textfield,
input.mdl-textfield__input{
  width: 100%;
}

.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

md-input-container label, md-input-container .md-placeholder {
  color: rgba(0,0,0,0.76);
}

md-input-container .md-input {
  border-color: rgba(0,0,0,0.32);
}

md-toolbar{
  min-height: 10px;
}

.fullHeight{
  height:100%;
}

img.mdl-button--fab{
  height: 30px;
  width: 30px;
  min-width: 30px;
}

md-list-item.item.active , .item.active{
  background-color : rgba(158,158,158,0.2);
}

md-list div md-list-item button.md-button:not([disabled]):hover {
  background-color: rgb(235,235,235);
}

div.iconDiv>i{
  float: left;
}

/*md-card{*/
  /*background-color:#FD651A;*/
/*}*/

i.lower{
  float:left;
  padding-top:10px;
}

.paddingLeft5{
  padding-left: 5px;
}

.margin10{
  margin : 10px;
}

.margin5{
  margin : 5px;
}

md-card-content{
  background-color:white;
}

md-card.milestone{
  width:300px;
}

.grey{
  background-color: #f1f1f1;
}

.card{
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);
}

.labelLine{
  font-size:10px;
  line-height: 10px;
  margin : 1px 0px 0px 0px;
}

.small{
  font-size: 14px;
}

.rightAlign{
  text-align: right;
}

.avatar{
  width : 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 24px;
  padding: 0;
  overflow: hidden;
  background: rgba(158,158,158,.2);
  box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);  margin: 6px;
  text-align: right;
}

md-toolbar .login{
  font-size : 13px;
}

*:focus {
  outline:none;
}

.left{
  float:left;
}

.clickable{
  cursor:pointer;
}
.clickable:hover{
  cursor:pointer;
  color:#555555;
}