<form name="$ctrl.addEventForm" ng-submit="$ctrl.addEvent($ctrl.event)">
    <div class="col-xs-12 col-sm-2 sidebar-offcanvas active" id="sidebar" role="navigation">
        <div class="panel panel-default special-font">
            <div class="panel-header">
                <label>Add an event :</label>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-12">
                            <label>Title :</label>
                            <input type="text" class="form-control" ng-model="$ctrl.event.title" required>
                        </div>
                        <div class="col-xs-12">
                            <label>Starting date :</label>
                            <input type="datetime-local" class="form-control" ng-model="$ctrl.event.startsAt" required>
                        </div>
                        <div class="col-xs-12">
                            <label>Ending date :</label>
                            <input type="datetime-local" class="form-control" ng-model="$ctrl.event.endsAt">
                        </div>
                        <div class="col-xs-12 event-picker">
                            <label>Event color :
                                <a class="pull-right event ng-scope a-css-class-name" ng-style="{backgroundColor: $ctrl.event.color.primary}"> </a>
                            </label>
                            <input colorpicker="hex" type="text" ng-model="$ctrl.event.color.primary" class="form-control"/>
                        </div>
    
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                &nbsp;
                <button type="submit" class="btn btn-primary pull-right">Add event</button>
            </div> 
        </div>
    </div>
</form>