<section id="portfolio" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading"></h2>
      </div>
    </div>
  </div>
  <div class="container hide-for-md">
    <add-event events="$ctrl.events"></add-event>
  </div>
  <div class="container">
    <div class="pull-right">
      <div class="btn-group">
        <label class="btn btn-default" ng-click="$ctrl.calendarView = 'year'" ng-class="{'btn-primary' : $ctrl.calendarView === 'year'}">Year</label>
        <label class="btn btn-default" ng-click="$ctrl.calendarView = 'month'" ng-class="{'btn-primary' : $ctrl.calendarView === 'month'}">Month</label>
        <label class="btn btn-default" ng-click="$ctrl.calendarView = 'week'" ng-class="{'btn-primary' : $ctrl.calendarView === 'week'}">Week</label>
        <label class="btn btn-default" ng-click="$ctrl.calendarView = 'day'" ng-class="{'btn-primary' : $ctrl.calendarView === 'day'}">Day</label>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="text-center">
      <h3>{{$ctrl.calendarTitle}}<h3>
    </div>
  </div>
  <div class="container">
    
    <mwl-calendar
        view="$ctrl.calendarView"
        view-date="$ctrl.calendarDate"
        events="$ctrl.events"
        view-title="$ctrl.calendarTitle"
        on-event-click="$ctrl.eventClicked(calendarEvent)"
        on-event-times-changed="$ctrl.calendarEvent.startsAt = calendarNewEventStart; $ctrl.calendarEvent.endsAt = calendarNewEventEnd"
        cell-is-open="true">
    </mwl-calendar>
    
  </div>
  
  <div class="row row-offcanvas row-offcanvas-left active hide-for-xs">
    <add-event events="$ctrl.events"></add-event>
  </div>
  
</section>
